##################################
## MultiClaw‑MLFlow backend URI ##
##################################
MLFLOW_TRACKING_URI=http://multiclaw-mlflow:5000
INTELLICLAW_URL=http://intelliclaw:8080
INTELLICLAW_API_KEY=<your-token>     # optional
INTELLICLAW_CACHE_TTL=60             # seconds
